@model RepQuiz.Models.Band

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>@Model.BandName</h2>
    <p>@Model.Description</p>
    <img src="@Model.ImagePath" alt="Picture of @Model.BandName" />
    <iframe width="914" height="514" src="@Model.YouTubeLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ul>
    @foreach (var item in @Model.Albums)
    {
        <li>@item</li>
    }
    </ul>
</body>
</html>